<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search Application</title>
</head>

<body>
    <h1>Search Results</h1>
    <a href="/gbooks/readingList">Reading List</a>
    
    <section>
        <h3>Search the book by entering the Author or Title of the book below</h3>
        <div><b>Enter a New Search</b></div>
        <form id="searchForm" method="POST" action="/gbooks/search">
            <input type="text" name="query" id="bookSearch" placeholder="Enter Book Title or Author">
            <button>Search</button>
        </form>
        <div id="div1"> These are your top 5 search results</div>
        <div id="bookResults"></div>
        <ol>
            <% for(let i=0; i<5; i++) { %> 
    
            <li><Div><b>Title:</b> <%= searchData[i].volumeInfo.title %></Div> 
                <Div><b>Author(s):</b> <%= searchData[i].volumeInfo.authors %></Div> 
                <Div><b>Publishing Company:</b> <%= searchData[i].volumeInfo.publisher %></Div>
                <form id="saveButton" method="GET" action="/gbooks/save"><button>Add to Reading List</button></form>
            </li>
            <br>
        
            <% } %> 
            </ol>

           
    </section>
</body>

</html>

<!-- please do not forget to add styling and beautify the page to make it more intuitive -->