<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Books Inquiry</title>
</head>

<body>
    <h1>this is the saves page</h1>
    <p>it will ask wether you want to save this book or not</p>
    <button>Save</button>
    <!-- just go back one page -->
    <button>Cancel</button>
</body>

</html>